* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: decimal;
}

.form {
    color: #000000;
    padding: 4% 7%;
    &__h1 {
        padding-bottom: 30px;
        color: #005151;
    }
    &__options {
        margin-left: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &__option {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
    }
    &__checkbox {
        margin-right: 10px;
    }
    &__input {
        margin-left: 10px;
        border-bottom: 1px #000000 solid;
    }
    &__textarea {
        border: 1px #D4D4D4 solid;
        width: 600px;
        height: 200px;
        border-radius: 5px;
        padding: 15px 15px 15px 30px;
    }
    &__buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__button {
        color: #005151;
        padding: 10px;
        background-color: #66CBBB;
        border-radius: 20px;
        font-weight: bold;
    }
}