@use "./variables" as *;

// media breakpoints

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

//page component shadow
@mixin shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

@mixin button-white {
  background-color: $color-white;
  border-radius: 20px;
  border: 1px solid $color-cloud;
  color: $color-slate;
  height: 36px;
  width: 100%;
  @include tablet {
    height: 38px;
    width: fit-content;
    padding: 0 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin mobil-header-button {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 20px;
  border-radius: 20px;
  height: 36px;
  width: 50%;
  background-color: $color-graphite;
  border: none;
  color: $color-cloud;

  &:hover {
    text-decoration: underline;
    color: $color-white;
  }

  &.active {
    background-color: $color-instock-black;
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  &--wrapper {
    border: none;
    background-color: inherit;
    color: inherit;
  }
}
