@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 32, 56, 0.5);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.modalStyle {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 100%;
  height: 100%;
  @include tablet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    background-color: white;
    padding: 1rem;
    width: 85%;
    height: fit-content;
  }
  @include desktop {
    transform: translate(-50%, -70%);
    width: 25%;
  }

  & svg {
    margin-bottom: 2rem;
    margin-left: auto;
    @include tablet {
      margin-bottom: 0;
    }
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include tablet {
    padding: 1rem;
  }
  @include desktop {
    width: 90%;
  }
}

.modalTitle {
  color: rgba(0, 81, 81, 1);
  display: flex;
  justify-content: center;
}

.modalText {
  color: rgba(3, 3, 3, 1);
  text-align: left;
  @include tablet {
    margin-bottom: 2rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin-top: auto;
  @include tablet {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.modalButton {
  @include button-white;
  width: 47%;
  @include tablet {
    width: fit-content;
    margin-right: 1rem;
  }

  &-survey {
    background-color: rgba(102, 203, 187, 1);
    width: 47%;
    @include tablet {
      width: fit-content;
    }
  }
  &-close {
    color: rgba(0, 104, 149, 1);
    border: none;
    text-decoration: underline;
  }
}
.modalButton__text--close {
  margin: 0;
  color: rgba(0, 104, 149, 1);
}

.modalButton__text--survey {
  color: rgba(0, 81, 81, 1);
  margin: 0;
}

.modal__close {
  width: 30px;
  display: flex;
  position: absolute;
  padding-top: 30px;
  cursor: pointer;
}
